# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^reg   RestController.php?view=registration [nc,qsa]

RewriteRule ^login RestController.php?view=login [nc,qsa]

RewriteRule ^([\w]+)/pub_key/([0-9]+)   RestController.php?view=pub_key&user_identitysen=$1&user_id=$1 [nc,qsa]
RewriteRule ^([\w]+)/pub_key/([\w]+)   RestController.php?view=pub_keyrec&user_identitysen=$1&user_identityrec=$2 [nc,qsa]

RewriteRule ^([\w]+)/message/?([\w]+)?/?([0-9]+)?  RestController.php?view=messageGetPostDel&user_id1=$1&user_id2=$2&message_id=$3 [nc,qsa]

RewriteRule ^([\w]+)/allmessage  RestController.php?view=messageDelAll&user_id1=$1&message_id=$2 [nc,qsa]

RewriteRule ^([\w]+)/user$  RestController.php?view=delaccount&user_id=$1 [nc,qsa]



RewriteRule ^user/([0-9]+)/$  RestController.php?view=user&user_id=$1 [nc,qsa]

RewriteRule ^allemessage/([0-9]+)/$   test.php?view=messageAll&user_id=$1 [nc,qsa]






RewriteRule ^test   test.php?view=test [nc,qsa]